@import "../App";

.preview-link {
  background-color: $white-color;
  border: 1px solid $accent-light-color;
  border-radius: 10px;
  margin: 20px;
  max-width: 30%;
  padding: 20px;
  padding-bottom: 60px;
  position: relative;
  transition: all ease-in-out 0.3s;
}

.preview-link h3 {
  color: $primary-color;
  font-family: $title-font;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.preview-link p {
  font-family: $normal-font;
  font-size: 1em;
  text-align: justify;
  word-wrap: break-word;
}

.preview-link a {
  background-color: $accent-dark-color;
  bottom: 0;
  border-radius: 5px;
  color: $white-color;
  cursor: pointer;
  display: inline-block;
  font-family: $normal-font;
  font-size: 0.8em;
  margin: 10px;
  padding: 10px 15px;
  position: absolute;
  right: 0;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
}

.preview-link a:hover {
  background-color: $accent-color;
}

/* responive*/

@media screen and (max-width: $responsive-width) {
  .preview-link {
    max-width: 100%;
  }
}
