/* palette */
$primary-color: #e63946;
$accent-color: #457b9d;
$accent-dark-color: #1d3557;
$accent-light-color: #a8dadc;
$white-color: #f1faee;
/* fonts */
$title-font: 'Poppins', sans-serif;
$normal-font: 'Rubik', sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.pages {
  margin-top: 100px;
  width: 100%;
}
